<p id="notice"><%= notice %></p>

<h1>Event Participant Details</h1>

<%= link_to 'Attend', new_user_event_path(:event_id => @event.id) %>
<br>
<br>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Gender</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @event_users.each do |user_event| %>
      <tr>
        <td><%= user_event.user.name %></td>
        <td><%= user_event.user.gender %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>
